
/* TODO: Add a home button */
/* TODO: Add a settings button */
/* TODO: Add a uninstall button */

/* TODO: Add a home page */
/* TODO: Add a settings page */
/* TODO: Add a uninstall page */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
